In [1]:
import pandas as pd

df = pd.read_csv('student.csv')
df

  Unnamed: 0  國文  英文   數學  地理  歷史
0        錢欣潔  99  53   77  92  80
1        馮芳如  64  75   65  79  73
2        姜琬婷  54  51   72  88  60
3        吳欣書  95  66   57  59  70
4        黃靜怡  93  66  100  97  82
5        吳柏誠  50  84   97  53  81