In [6]:
import numpy as np
import pandas as pd

tips = pd.read_csv('tips.csv')
tips.columns = ['總票價','小費','吸菸者','日期','點餐','大小']
tips

       總票價    小費  吸菸者    日期      點餐  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [7]:
tips['小費比例'] = tips['小費']/tips['總票價']
tips

       總票價    小費  吸菸者    日期      點餐  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [10]:
tips.groupby('吸菸者')['小費比例'].mean()

吸菸者
No     0.159328
Yes    0.163196
Name: 小費比例, dtype: float64

In [9]:
tips.groupby('吸菸者')['小費比例'].agg(['sum','mean'])

           sum      mean
吸菸者
No   24.058598  0.159328
Yes  15.177232  0.163196

In [20]:
df = tips.groupby('吸菸者')[['小費比例','總票價']]\
.agg([('加總','sum'),('平均','mean'),('數量','count'),('最多','max'),('最少','min'),('中間值','median'),('標準差','std')])

In [26]:
df.columns.names = ['第1項','第2項']
df.index.name = '第3項'
df

第1項       小費比例                                                         \
第2項         加總        平均   數量        最多        最少       中間值       標準差
第3項
No   24.058598  0.159328  151  0.291990  0.056797  0.155625  0.039910
Yes  15.177232  0.163196   93  0.710345  0.035638  0.153846  0.085119

第1項      總票價
第2項       加總         平均   數量     最多    最少    中間值       標準差
第3項
No   2897.43  19.188278  151  48.33  7.25  17.59  8.255582
Yes  1930.34  20.756344   93  50.81  3.07  17.92  9.832154

In [29]:
df.stack(level='第1項')

/tmp/ipykernel_1680/2546028888.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(level='第1項')

第2項                加總         平均   數量         最多        最少        中間值  \
第3項 第1項
No  小費比例    24.058598   0.159328  151   0.291990  0.056797   0.155625
    總票價   2897.430000  19.188278  151  48.330000  7.250000  17.590000
Yes 小費比例    15.177232   0.163196   93   0.710345  0.035638   0.153846
    總票價   1930.340000  20.756344   93  50.810000  3.070000  17.920000

第2項            標準差
第3項 第1項
No  小費比例  0.039910
    總票價   8.255582
Yes 小費比例  0.085119
    總票價   9.832154

In [30]:
df.stack(level='第2項')

/tmp/ipykernel_1680/1170675426.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(level='第2項')

第1項            小費比例          總票價
第3項 第2項
No  加總    24.058598  2897.430000
    平均     0.159328    19.188278
    數量   151.000000   151.000000
    最多     0.291990    48.330000
    最少     0.056797     7.250000
    中間值    0.155625    17.590000
    標準差    0.039910     8.255582
Yes 加總    15.177232  1930.340000
    平均     0.163196    20.756344
    數量    93.000000    93.000000
    最多     0.710345    50.810000
    最少     0.035638     3.070000
    中間值    0.153846    17.920000
    標準差    0.085119     9.832154